@media screen and (min-width: 1158px) {
    :root {
        --Primary-Brand-color-Iris: #4D5AE5;
        --Pressed-state-color-OCEAN: #404BBF;
        --Headings-color-Navyblue: #2E2F42;
        --Body-text-color-SLATE: #434455;
        --white: #FFFFFF;
        --cornflower: #E7E9FC;
        --cloud: #F4F4FD;
        --lightSlate: #8E8F99;
        --transition-duration-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--Body-text-color-SLATE);
    }

    .container {
        padding: 0 16px;
        margin: 0 auto;
        min-width: 1158px;
    }

    /* ================HEADER================== */

    .header__contacts {
        top: 22px;
        right: 156px;
    }

    .header__contacts_list {
        display: flex;
        gap: 40px;
    }

    .header__contacts_adress {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .header__contacts_adress:hover,
    .header__contacts_adress:focus {
        color: var(--Pressed-state-color-OCEAN);
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../img/hero/dsktp/hero-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url(../img/hero/dsktp/hero-2x.jpg);
        }
    }

    /* ===============HERO======================= */

    .hero {
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-top: 188px;
    }

    .hero__hdr {
        padding: 0;
        display: block;
    }

    .hero__order-butn {
        margin: 0;
    }

    .hero__order-butn:hover,
    .hero__order-butn:focus {
        background-color: var(--Pressed-state-color-OCEAN);
    }

    /* ===============OUR GOALS============== */

    .our-goals {
        margin-top: 24px;
    }

    .our-goals__list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .our-goals__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-goals__list_icon {
        display: flex;
        background-color: var(--cloud);
        width: 264px;
        height: 112px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    .our-goals__hdr {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 8px;
    }

    .our-goals__list-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /*==============WHAT ARE WE DOING========== */

    .wawd {
        display: contents;
    }

    .wawd__hdr {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--Headings-color-Navyblue);
        margin: 24px 0 72px;
    }

    .wawd__list {
        display: flex;
        gap: 24px;
        justify-content: center;
        padding-bottom: 120px;
    }

    .wawd__list_item {}

    /* ==============OUR TEAM============ */
    .our-team__list {
        flex-wrap: nowrap;
    }

    .soc-list__link:hover,
    .soc-list__link:focus {
        background-color: var(--Pressed-state-color-OCEAN);
    }

    /* =============CUSTUMERS LIST======== */

    .customers-list {
        max-width: 1158px;
        flex-wrap: nowrap;
        padding-top: 72px;
    }

    .customers__list-item {
        flex-basis: calc((100% - 120px)/6);
    }

    .customers__list-link {
        color: var(--lightSlate);
    }

    .customers__list-icon {
        fill: currentColor;
        transition: color var(--transition-duration-and-funk),
            border-color var(--transition-duration-and-funk);
    }

    .customers__list-icon:hover,
    .customers__list-icon:focus,
    .customers__list-link:hover,
    .customers__list-link:focus {
        color: var(--Pressed-state-color-OCEAN);
        border-color: var(--Pressed-state-color-OCEAN);
    }

    /* ===============FOOTER============== */

    .footer {
        flex-direction: row;
        justify-content: start;
        min-width: 1440px;
    }

    .footer-main__container {
        flex-wrap: nowrap;
        max-width: 100%;
    }

    .footer__container {
        align-content: flex-start;
        gap: 100px;
        margin-left: 0;
    }

    .footer__wraper {
        padding-top: 100px;
        justify-content: flex-start;
        display: block;
    }

    .footer-web {
        height: 24px;
    }

    .footer__subscribe {
        margin-left: 80px;
        padding-top: 100px;
        display: block;
    }

    .footer__subscribe_hdr {
        margin: 0;
    }

    .footer__subscribe_input {
        margin-left: 0;
        padding-left: 16px;
    }

    .footer__subscribe_button {
        left: 290px;
        top: 123px;
    }

    .footer__subscribe_button:focus,
    .footer__subscribe_button:hover {
        background-color: var(--Pressed-state-color-OCEAN);
    }

    .footer__subscribe_button-icon {
        fill: var(--white);
    }

    .footer__subscribe_input:focus-within {
        background-color: var(--Headings-color-Navyblue);
        color: var(--white);
    }

    .footer-cos_hdr {
        padding: 0;
    }

    .footer__soc-list__link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--Primary-Brand-color-Iris);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition-duration-and-funk);
    }

    .footer__soc-list__link:hover,
    .footer__soc-list__link:focus {
        background-color: #31D0AA;
    }

    /* ==============PORTFOLIO========== */

    .portfolio__card:hover,
    .portfolio__card:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio__card_wrap {
        position: relative;
        overflow: hidden;
    }

    .portfolio__overlay {
        position: absolute;
        display: list-item;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transform: translate(0, 100%);
        transition: transform var(--transition-duration-and-funk);
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud);
        padding: 40px 32px;
        background-color: var(--Primary-Brand-color-Iris);
    }

    .portfolio__card:hover .portfolio__overlay,
    .portfolio__card:focus .portfolio__overlay {
        transform: translate(0, 0);
    }
}